@charset "utf-8";

/* Reset Styles */
*, *::after, *::before { margin: 0; padding: 0; border: 0; line-height: inherit; color: inherit; text-transform: inherit; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; background-color: transparent; outline: none; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul { list-style: none; list-style-position: inside; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: inherit;}
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
blockquote, q { quotes: "" ""; }
button { cursor: pointer; }
button:focus, button:active { outline:0; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { padding:0; border: 0; margin: 0; line-height: normal; }
header, footer, nav, article, section, main { display: block; }
:-ms-input-placeholder { color: #ccc; opacity: 1; }
::-webkit-input-placeholder { color: #ccc; opacity: 1; }
::-moz-placeholder { color: #ccc; opacity: 1; }
select.__placeholder { color: #ccc; opacity: 1; }
input, textarea, select { background: none; margin: 0; padding: 0; display: block; width: 100%; line-height: normal;
	-moz-user-select: text; 
	-webkit-user-select: text; 
	-ms-user-select: text;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { display: none; }

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) { }
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) { }
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) { }
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { }

/*-------------------------
	Core Elements/Tags
---------------------------*/
html { font-size: 16px; }
body { font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) { 
	html { font-size: 16px; }
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}

/*-------------------------
	Headlines
---------------------------*/
.headline { font-weight: bold; }
.headline--1 { font-size: 1.5rem; }
.headline--2 { font-size: 1.25rem; }
.headline--3 { font-size: 1rem; }
.headline--4 { font-size: .75rem; }

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}

/*-------------------------
	Buttons
---------------------------*/
.btn { position: relative; display: inline-block; vertical-align: middle; text-align: center; margin: 0; padding: 10px 16px; width:100%; transition:.3s; line-height: normal; border: 1px solid transparent; font-weight: normal; cursor:pointer; }
.btn:hover, .btn:focus {}
.btn--secondary { font-size:0.778rem; padding: 6px 12px; }
.btn--positive, .btn--positive:active, .btn--positive:visited { color: #fff; background-color: #a2cc66; }
.btn--positive:hover, .btn--positive:focus { color: #fff; background-color: #7fad3e; }
.btn--neutral, .btn--neutral:active, .btn--neutral:visited { color: #fff; background-color: #70bdc5; }
.btn--neutral:hover, .btn--neutral:focus { color: #fff; background-color: #5eadb5; }
.btn--negative, .btn--negative:active, .btn--negative:visited { color: #fff; background-color: #d7d5d5; color: #999; }
.btn--negative:hover, .btn--negative:focus { color: #fff; background-color: #aaa; color: #fff; }

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.btn { width: auto; }
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}

/*-------------------------
	Forms
---------------------------*/
.form-element { display: block; margin: 8px 0 0; }
.form-element:nth-of-type(1) { margin: 0; }
.form-element__label { display: block; font-weight: bold; margin-bottom: 5px; }
.form-element__field { position:relative; display: block; width: 100%; background:#fff; border:1px solid #ccc; color: #000; height: 44px; }
.form-element__field input, .form-element__field select { position: relative; z-index: 2; padding: 12px 10px; }
.form-element__field--select:after, .form-element__field--icon:after  { position: absolute; top: 50%; right: 5px; width: 20px; height: 20px; z-index: 1;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.form-element__field--select:after { content: "\2193"; }
.form-element__field--icon:after { content: "(i)"; }
.form-element input[type="checkbox"], .form-element input[type="radio"] { display: none; }
.form-element input[type="checkbox"] + label { position: relative; padding-left: 25px; }
.form-element input[type="checkbox"] + label span { position: absolute; top: 0; left: 0; width: 20px; height: 20px; border: 1px solid #ccc; background-color: #fff; }
.form-element input[type="checkbox"]:checked + label span:after { content: ""; position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; background-color: red;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.form-element input[type="radio"] + label { position: relative; padding-left: 25px; }
.form-element input[type="radio"] + label span { position: absolute; top: 0; left: 0; width: 20px; height: 20px; border: 1px solid #ccc; border-radius: 100%; background-color: #fff; }
.form-element input[type="radio"]:checked + label span:after { content: ""; position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; border-radius: 100%; background-color: red;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}